[user]
	email = tulilirockz@outlook.com
	name = Tulip Blossom
	signingkey = /home/tulili/.ssh/cberg.pub
[gpg]
	format = ssh
[push]
	autoSetupRemote = true
[alias]
	lazy = !lazygit
	cports = !cat ~/cports.txt
	cports-fetch = !/usr/bin/fetch -1 -a -q -o /home/tulili/cports.txt https://repo.chimera-linux.org/cports-updates/cports-updates.txt
	cportsf = !/usr/bin/fetch -1 -a -q -o - https://repo.chimera-linux.org/cports-updates/cports-updates.txt
	todo = !cat ~/opt/todo-{{ if eq .chezmoi.os "linux"}}c{{ end }}ports.txt
[column]
	ui = auto
[branch]
	sort = -committerdate
[rerere]
	enable = true
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[maintenance]
	repo = /home/tulili/opt/{{ if eq .chezmoi.os "linux" }}c{{ end }}ports
[fetch]
	writeCommitGraph = true
[credential]
{{ if eq .chezmoi.os "linux" }}
	helper = /usr{{ if eq .chezmoi.os "freebsd"}}/local{{ end }}/libexec/git-core/git-credential-libsecret
{{ end }}
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
