[core]
	untrackedcache = true
	fsmonitor = true
[user]
	email = tulilirockz@outlook.com
	name = Tulip Blossom
	signingkey = /home/tulili/.ssh/id_ed25519
[gpg]
	format = ssh
[push]
	autoSetupRemote = true
[alias]
	lazy = !lazygit
[column]
	ui = auto
[branch]
	sort = -committerdate
[rerere]
	enable = true
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[maintenance]
	repo = /home/tulili/opt/{{ if eq .chezmoi.os "linux" }}c{{ end }}ports
[fetch]
	writeCommitGraph = true
[credential]
{{ if eq .chezmoi.os "linux" }}
	helper = /usr{{ if eq .chezmoi.os "freebsd"}}/local{{ end }}/libexec/git-core/git-credential-libsecret
{{ end }}
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
# Delta stuff
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
[merge]
    conflictstyle = zdiff3
