[core]
	untrackedcache = true
	fsmonitor = true
[user]
	email = tulilirockz@proton.me
	name = Tulip Blossom
	signingkey = {{ .chezmoi.homeDir }}/.ssh/gh
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[push]
	autoSetupRemote = true
[alias]
	lazy = !lazygit
	up = remote rename origin upstream
	upstream = up
	# fixme = grep "#\ *[A-Z]*:"
	# fix = fixme
	shallow = clone --depth 1 
	fa = fetch --all
	nb = switch upstream/main -C
	ru = rebase upstream/main
	pr = !gh pr create --fill-first -e
	st = status
	wt = worktree
	work = worktree
	re = rebase
	rb = rebase
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
[column]
	ui = auto
[branch]
	sort = -committerdate
[rerere]
	enable = true
[init]
	defaultBranch = main
[fetch]
	writeCommitGraph = true
[credential]
	helper = /usr{{ if eq .chezmoi.os "freebsd"}}/local{{ end }}/libexec/git-core/git-credential-libsecret
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[delta]
    side-by-side = true
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = zdiff3
[pull]
    rebase = true
[clean]
    requireForce = false
[help]
    autocorrect = 5
